.root{
-beef: #beefed;

-fx-background-color: #ddffe7;
fx-background-color: -beef;
-fx-background-radius: 20;
-fx-border-radius: 20;
-fx-border-color: forestgreen;

}
#rot{
-fx-background-radius: 20;
-fx-border-radius: 20;
-fx-border-color: forestgreen;
-fx-background-color: #ddffe7;
-fx-padding: 3 1 1 1;
}


.vboxStats{
    -fx-pref-height: 27;
    -fx-max-height: 27;
    -fx-pref-width: 36;
    -fx-max-width: 36;
    fx-spacing: 5;
    -fx-alignment: bottom-center;
    -fx-fill-width: false;
    fx-border-color: lightsteelblue;
    -fx-rotate: 22.5;
}

.mynd{

}


.vboxStats .image-view{
    -fx-rotate: -22.5;
    -fx-preserve-ratio: true;
}

.image-view{
    fx-fit-height: 30;
    fx-fit-width: 30;
    fx-image: url("icon/clock.png");
    fx-background-size: stretch;
}

.vatnBox{
    -fx-image: url("icon/water.png");
}

.ljosBox{
    -fx-image: url("icon/sol.png");
}

.hitiBox{
    -fx-image: url("icon/temperature.png");
}



.button{
-fx-background-size: 18px;
-fx-background-repeat: no-repeat;
-fx-background-position: 10%;
-fx-background-radius: 20;
-fx-border-radius: 20;
-fx-border-color: black;
-fx-background-color: #c8f8e6;
}

.label{
-fx-background-color: #c8f8e6;
-fx-background-radius: 20;
-fx-padding: 5;

-fx-background-size: 18px;
-fx-background-repeat: no-repeat;
-fx-background-position: 10%;
-fx-alignment: center;
}

#fxFlokkur{
    -fx-padding: 2;
}

.vokva-label{
fx-background-image: url("icon/water.png");
-fx-padding: 2 3 2 20;
-fx-background-image: url("icon/clock.png");
}

.vokva-takki{
-fx-padding: 2 3 2 20;
-fx-background-image: url("icon/water.png");
}



.sol-takki{
-fx-background-image: url("icon/sol.png");
}

.plus-takki{
-fx-padding: 3 3 3 20;
-fx-background-image: url("icon/plus.png");
}

.mynd{
fx-image: url("plants/Picture1.png");
}

#fxAlmenntNafn{
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-padding: 0;
}


