.root{
-beef: #beefed;

-fx-background-color: #ddffe7;
fx-background-color: -beef;
-fx-background-radius: 20;
-fx-border-radius: 20;
-fx-border-color: forestgreen;

}
#rot{
-fx-background-radius: 20;
-fx-border-radius: 20;
-fx-border-color: forestgreen;
-fx-background-color: #ddffe7;
-fx-padding: 3 1 1 1;
}

.progress-bar{
-fx-rotate: 270;
}

.progress-bar .track{
    -fx-background-color: darkseagreen;
}

.progress-bar .bar{
    -fx-background-color: lightsteelblue;
}

.vboxStats{
    -fx-pref-height: 27;
    -fx-pref-width: 36;
    -fx-spacing: 5;
    -fx-alignment: bottom-center;
    -fx-fill-width: false;
}

.mynd{

}



.button{
-fx-background-size: 18px;
-fx-background-repeat: no-repeat;
-fx-background-position: 10%;
-fx-background-radius: 20;
-fx-border-radius: 20;
-fx-border-color: black;
-fx-background-color: #c8f8e6;
}

.label{
-fx-background-color: #c8f8e6;
-fx-background-radius: 20;
-fx-padding: 5;

-fx-background-size: 18px;
-fx-background-repeat: no-repeat;
-fx-background-position: 10%;
-fx-alignment: center;
}

#fxFlokkur{
    -fx-padding: 2;
}

.vokva-label{
fx-background-image: url("icon/water.png");
-fx-padding: 2 3 2 20;
-fx-background-image: url("icon/clock.png");
}

.vokva-takki{
-fx-padding: 2 3 2 20;
-fx-background-image: url("icon/water.png");
}



.sol-takki{
-fx-background-image: url("icon/sol.png");
}

.plus-takki{
-fx-padding: 3 3 3 20;
-fx-background-image: url("icon/plus.png");
}

.mynd{
fx-image: url("plants/Picture1.png");
}

#fxAlmenntNafn{
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-padding: 0;
}


