.root{
    -fx-alignment: top-center;
    -fx-fill-width: false;
    -fx-background-color: transparent;
}

#fxFlokkur{
    -fx-alignment: center;
    -fx-text-fill: darkgreen;
    -fx-background-color: transparent;
    fx-background-color: #beefed;
    fx-background-radius: 20;
}

.border-pane{
    -fx-background-color: #ddffe7;
    -fx-background-image: url("icon/rammi22.png");
    -fx-background-size: stretch;
}

#fxAlmenntNafn{
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-text-alignment: center;
}


